<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Documentation Checker{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet"  href="{{ asset('css/style.css') }}" type="text/css"/>
            <link rel="stylesheet"  href="{{ asset('vendor/bootstrap/css/bootstrap.css') }}" type="text/css"/>
            <link rel="stylesheet"  href="{{ asset('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css') }}" type="text/css"/>

        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
